---
import Layout from '../layouts/Layout.astro';
import { getCollection } from '../lib/db';

// const collection = await getCollection();
// const articles = await collection.find().sort({date: -1}).toArray();
let articles = [];
try {
const collection = await getCollection();
articles = await collection.find().sort({date: -1}).toArray();
} catch (err) {
  console.error('DB fetch failed:', err);
  throw new Error('Article fetch failed');
}
---

<Layout>
<div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="img/blog-cover/blog-cover.webp">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center caption mt-90">
          <h5 class="animate-box" data-animate-effect="fadeInUp">
            <a href="/">Home</a> / Articles
          </h5>
          <h1 class="animate-box" data-animate-effect="fadeInUp">Articles</h1>
          <hr class="animate-box" data-animate-effect="fadeInUp">
          <p class="animate-box" data-animate-effect="fadeInUp">
            Ignite Your Curiosity –
Dive into insights, trends, and expert perspectives.
          </p>
        </div>
      </div>
    </div>
</div>

	<div class="nopixel-blog section-padding">
		<div class="container">
			{articles.map((article, index) => (
			  <div class="row mb-30">
				{index % 2 === 0 ? (
				  <>
					<div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
					  <div class="img left">
						<a href={`/article/${article.articleNumber}`}><img src={article.imageUrl} alt={article.title}/></a>
					  </div>
					</div>
					<div class="col-md-6 valign animate-box" data-animate-effect="fadeInRight">
					  <div class="content">
						<div class="date">
						  <h1>{new Date(article.date).getDate()}</h1>
						  <h6>{new Date(article.date).toLocaleString('default', { month: 'short', year: 'numeric' })}</h6>
						</div>
						<div class="cont">
						  <div class="info">
							<h6>{article.author}</h6>
						  </div>
						  <h5>{article.title}</h5>
						  <a href={`/article/${article.articleNumber}`} class="more"><span>Read More</span></a>
						</div>
					  </div>
					</div>
				  </>
				) : (
				  <>
					<div class="col-md-6 order2 valign animate-box" data-animate-effect="fadeInLeft">
					  <div class="content">
						<div class="date">
						  <h1>{new Date(article.date).getDate()}</h1>
						  <h6>{new Date(article.date).toLocaleString('default', { month: 'short', year: 'numeric' })}</h6>
						</div>
						<div class="cont">
						  <div class="info">
							<h6>{article.author}</h6>
						  </div>
						  <h5>{article.title}</h5>
						  <a href={`/article/${article.articleNumber}`} class="more"><span>Read More</span></a>
						</div>
					  </div>
					</div>
					<div class="col-lg-6 order1 animate-box" data-animate-effect="fadeInRight">
					  <div class="img left">
						<a href={`/article/${article.articleNumber}`}><img src={article.imageUrl} alt={article.title}/></a>
					  </div>
					</div>
				  </>
				)}
			  </div>
			))}
		  </div>
	</div>
</Layout>